::selection {
    background: var(--highlight-bg);
    color: var(--highlight-text-color);
}

:root {
    --opacity: 0.7
}

div {
    color: var(--text-color);
    font-family: var(--font-family);
    margin-left: var(--inline-spacing);
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.inline-left {
    margin-left: var(--inline-spacing);
}

.inline-right {
    margin-right: var(--inline-spacing);
}
